.footer {
    background-color: #ECDCC9;
    padding: 40px 0px;
    color: #4D243D;
    margin-top: 10px;
  }
  
  .footertext {
    font-size:12px;
    margin-bottom: 0;
    margin-left: 50px;
    font-family: Montserrat, sans-serif;
  }